/* === Media Queries Height === */
@media (max-height: 768px) {
    #contactInfo {
        padding: 6.5rem 0 0 6.4%;
    }
    #contactInfoContainer {
        gap: 1.6rem;
    }
    .infoContact {
        margin-top: 3.6rem;
    }
    #infoInitials {
        width: 9rem;
        height: 9rem;
    }
    .infoContactName {
        gap: 1rem;
    }
    #contactInformation {
        height: 5.5rem;
    }
    .information {
        gap: 1.2rem;
    }
    #contacts button {
        padding: 1rem 1.2rem;
    }
    #contacts button img {
        height: 1.8rem;
    }
    .confirmation {
        padding: 1rem 1.2rem;
    }
    .error {
        font-size: var(--font-size-14);
    }
    #contactOption {
        font-size: var(--font-size-61);
    }
    #addContactHeadline {
        font-size: 21px;
    }
}

/* === Media Queries Width === */

@media (max-width: 1264px) {
    #contactList {
        width: 320px;
    }
    #contactInfo {
        width: calc(100vw - 550px);
    }
    #contactOptionMenu {
        width: 80vw;
        left: calc(50% - 40vw);
    }
    .contact {
        gap: 1.5rem;
    }
    .contactSubListName {
        font-size: 16px;
    }
    #listContainer {
        padding: 1rem 6%;
    }
}

@media (max-width: 1096px) {
    #contacts {
        padding: 8.9rem 2.3vw 0 180px;
    }
    #contactList {
        width: 100px;
    }
    #listContainer {
        padding: 1rem 1.5rem;
    }
    .letter {
        padding-left: 2.7rem;
    }
    .horizontalLine {
        margin: 1.6rem 0 1rem 0.2rem;
    }
    .contact {
        display: -webkit-box;
        overflow-x: hidden;
        padding: 1.5rem 0 1.5rem 1.1rem;
    }
    #contactInfo {
        width: calc(100vw - 280px);
    }
}

@media (max-width: 800px) {
    #contactList::-webkit-scrollbar {
        width: 4px;
    }
    #newContactButtonSpan {
        display: none;
    }
    .sectionHeaderMenu {
        font-size: var(--font-size-47);
    }
    .verticalLine {
        height: 4rem;
        border: 2px solid #29ABE2;
        border-radius: 2px;
    }
    #contactSubHeadline {
        font-size: var(--font-size-24);
    }
    #infoInitials {
        width: 6rem;
        height: 6rem;
        font-size: var(--font-size-36);
    }
    .infoContactName {
        gap: 0.5rem;
        justify-content: center;
    }
    .infoContactName span {
        font-size: var(--font-size-36);
    }
    .infoContactName a svg {
        width: 1.2rem;
        height: 1.2rem;
    }
    .infoContactName a > span {
        font-size: var(--font-size-14);
    }
    #contactInformation a svg {
        width: 1.6rem;
        height: 2.3rem;
    }
    #contactInformation a span {
        font-size: var(--font-size-14);
    }
}

@media (max-width: 800px) and (max-height: 768px) {
    #contactInformation {
        height: 3rem;
    }
}

@media (max-width: 670px) and (max-height: 768px) {
    .infoContact {
        margin-top: 2rem;
    }
}

@media (max-width: 670px) {
    #contacts {
        padding: 8.9rem 0 0 15rem;
    }
    /* contactlist*/
    #contactList {
        width: 100%;
    }
    #listContainer {
        padding: 8rem 8.5% 1rem 8.5%;
    }
    #contactList::-webkit-scrollbar {
        width: 7px;
    }
    .letter {
        padding-left: 4rem;
    }
    #contacts button {
        bottom: unset;
        top: 10.9rem;
    }
    #newContactButtonSpan {
        display: unset;
    }

    /*contactinfo*/
    #contactInfo {
        display: none;
        width: calc(100vw - 15rem);
        padding: 3.25rem 2.3vw 0 6.4%;
    }
    .sectionHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .sectionHeaderMenuContainer {
        width: 100%;
        justify-content: space-between;
    }
    #mobileJoinHeadline {
        display: unset;
        font-size: 16px;
    }
    .verticalLine {
        display: none;
    }
    #contactSubHeadline {
        font-size: 18px;
    }
    #headerHorizontalLine {
        display: unset;
        margin: 0;
    }
    #contactInformation a {
        display: none;
    }
    .arrowBackContainer {
        display: flex;
    }
}

@media (max-width: 550px) {
    #newContactButtonSpan {
        display: none;
    }
}

@media (max-width: 468px) {
    #contacts {
        height: 100vh;
        padding: 79px 2.3vw 80px 2.3vw;
    }
    #contactList {
        height: 100%;
    }
    #contactInfo {
        width: 100%;
        padding: 3.25rem 2.3vw 0 6.4%;
    }
    #mobilContactInfoButtonContainer {
        bottom: 130px;
    }
}