/* Board */
@media (min-width: 1920px) {
    #board-section {
        padding: 8.9rem 0 0 28.8rem;
    }
    #board-content {
        width: calc(100vw - 28.8rem);
    }
}

@media (max-width: 1000px) {
    #board-section {
        padding: 8.9rem 0 0 15rem;
    }
    #board-content {
        width: calc(100vw - 15rem);
    }
}

/* Add Task */
@media (max-height: 768px) {
    .main-add-task-container {
        padding: 6.5rem 0 0 6.4%;
        gap: 2rem;
    }
}

@media (min-width: 1920px) {
    #add-task-section {
        padding: 8.9rem 0 0 28.8rem;
    }
    .main-add-task-container {
        width: calc(100vw - 28.8rem);
    }
}

@media (max-width: 1000px) {
    #add-task-section {
        padding: 8.9rem 0 0 15rem;
    }
    .main-add-task-container {
        width: calc(100vw - 15rem);
    }
}