/* Side-bar*/
@media (min-width: 1920px) {
    .side-bar {
        width: 288px;
    }
}

@media (max-width: 1200px) {
    .side-bar-link {
        font-size: 14px;
        padding-left: 15%;
        gap: 10px;
    }
    .link-img {
        width: 18px;
    }
}

@media (max-width: 1000px) {
    .side-bar {
        width: 150px;
    }
}

/* Board */
@media (min-width: 1920px) {
    #board-section {
        padding: 8.9rem 0 0 28.8rem;
    }
    #board-content {
        width: calc(100vw - 28.8rem);
    }
}

@media (max-width: 1000px) {
    #board-section {
        padding: 8.9rem 0 0 150px;
    }
    #board-content {
        width: calc(100vw - 150px);
    }
}

/* Add Task */
@media (max-height: 768px) {
    .main-add-task-container {
        padding: 6.5rem 0 0 6.4%;
        gap: 20px;
    }
}

@media (min-width: 1920px) {
    #add-task-section {
        padding: 8.9rem 0 0 28.8rem;
    }
    .main-add-task-container {
        width: calc(100vw - 28.8rem);
    }
}

@media (max-width: 1000px) {
    #add-task-section {
        padding: 8.9rem 0 0 150px;
    }
    .main-add-task-container {
        width: calc(100vw - 150px);
    }
}

/* Contacts */
@media (max-height: 768px) {
    :root {
        /* Font-Size */
        --font-size-12: 10px;
        --font-size-14: 12px;
        --font-size-16: 14px;
        --font-size-21: 18px;
        --font-size-23: 21px;
        --font-size-27: 23px;
        --font-size-36: 27px;
        --font-size-47: 36px;
        --font-size-61: 47px;
        --font-size-64: 61px;
    }
    #contactInfo, .main-add-task-container {
        padding: 6.5rem 0 0 6.4%;
    }
    #contactInfoContainer {
        gap: 1.6rem;
    }
    .infoContact {
        margin-top: 36px;
    }
    #infoInitials {
        width: 90px;
        height: 90px;
    }
    .infoContactName {
        gap: 10px;
    }
    #contactInformation {
        height: 5.5rem;
    }
    .information {
        gap: 1.2rem;
    }
    #contacts button {
        padding: 10px 12px;
    }
    #contacts button img {
        height: 18px;
    }
    .confirmation {
        padding: 10px 12px;
    }
    .error {
        font-size: var(--font-size-14);
    }
    #contactOption {
        font-size: var(--font-size-61);
    }
    #addContactHeadline {
        font-size: 21px;
    }
}

@media (min-width: 1920px) {
    #contacts {
        padding: 8.9rem 0 0 28.8rem;
    }
    #contactList {
        width: 57.6rem;
    }
    #contactInfo {
        width: calc(100vw - 86.4rem);
    }
}

@media (max-width: 1200px) {
    #contactOptionMenu {
        width: 80vw;
        left: calc(50% - 40vw);
    }
    .contact {
        gap: 1.5rem;
    }
    .contactSubListName {
        font-size: 16px;
    }
    #listContainer {
        padding: 1rem 6%;
    }
}

@media (max-width: 1000px) {
    #contacts, #add-task-section {
        padding: 8.9rem 0 0 150px;
    }
    #contactList {
        width: 100px;
    }
    #listContainer {
        padding: 1rem 15px;
    }
    .letter {
        padding-left: 2.7rem;
    }
    .horizontalLine {
        margin: 1.6rem 0 1rem 0.2rem;
    }
    .contact {
        display: -webkit-box;
        overflow-x: hidden;
        padding: 1.5rem 0 1.5rem 1.1rem;
    }
    #contactInfo, .main-add-task-container {
        width: calc(100vw - 250px);
    }
}