/*board styling*/
#board-section {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    padding: 8.9rem 0 0 230px;
}

#board-content {
    width: calc(100vw - 230px);
    height: 100%;
    height: -webkit-fill-available;
    padding: 8.2rem 4.7rem 0 5.8rem;
    background-color: #F6F7F8;
}

#board-header {
    justify-content: space-between;
    align-items: center;
}

#board-header h1 {
    font-weight: bolder;
    font-size: 60px;
}

#search-and-add {
    margin-right: 16px;
}

#search-task {
    background-color: #fff !important;
    border-radius: 15px;
    height: 50px;
    width: 300px;
    padding: 8px;
    padding-right: 8px !important;
    margin: 8px;
    border: 1px solid #a8a8a8;
    background: url('../../');
}

.search-icon {
    background: url('../../../img/capa2.svg') no-repeat;
}

#add-task-button {
    border-radius: 15px;
    height: 50px;
    width: 150px;
    margin: 8px;
    padding: 8px;
    border: none;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
}

#tasks-container {
    gap: 16px;
    margin-top: 96px;
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    overflow-y: scroll;
}

#tasks-container::-webkit-scrollbar {
    display: none;
}

.task-status-container {
    width: 25%;
    height: 100%;
    height: -webkit-fill-available;
    position: relative;
}

.task-column-header {
    position: sticky;
    top: 0;
    background-color: #F6F7F8;
}

.align-task-column-header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.task-column-header img {
    cursor: pointer;
}

.hover-white-button:hover {
    filter: invert(61%) sepia(28%) saturate(1489%) hue-rotate(164deg) brightness(91%) contrast(94%);
    transition: ease-in-out 125ms;
}

.board-task-box {
    width: 100%;
    background-color: #fff;
    padding: 18px 19px;
    border-radius: 30px;
    margin-top: 32px;
    gap: 10px;
    cursor: grab;
}

.board-task-box h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    padding: 12px 0px 8px 0px;
}

.board-task-box p {
    font-size: 16px;
    line-height: 19.2px;
}

.contacts-urgency-box {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 83px;
}

.assigned-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.small-contact-bubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.dragbox-shadow {
    height: 140px;
    width: 100%;
    background-color: rgba(9, 25, 49, 0.1);
    margin-top: 32px;
    border-radius: 15px;
    border: 2px dotted darkgray;
}

.category-tag {
    display: inline-block;
    margin-bottom: 16px;
    padding: 4px 12px;
    background-color: blue;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}


.board-task-box p {
    color: #A8A8A8;
    font-size: 15px;
}

/*styling add task overlay*/

.add-task-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    transition: ease-in-out 225ms;
}

.add-task-container-board {
    position: relative;
    padding: 35px;
    border-radius: 25px;
    background-color: #fff;
    margin: 50px;
    height: 90%;
}

.close-window {
    z-index: 200;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

/*styling task popup*/

.task-popup-background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-popup{
    width: 650px;
    height: 850px;
    background-color: #fff;
    border-radius: 30px;
    padding: 50px;
    gap: 25px;
    position: relative;
}

.close-task-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.delete-and-edit-task {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #fff;
}

.edit-task {
    height: 50px;
    width: 50px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}

.task-popup-headline-main {
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.task-popup-headline-secondary {
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

.task-popup-text {
    font-weight: 400;
    font-size: 21px;
    line-height: 25.2px;
    gap: 25px;
}

.task-popup-margin{
    margin-top: 25px;
}

.assigned-contact-box {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 45px;
    margin-top: 35px;
}

.contact-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    gap: 10px;
    padding: 10px 8px;
}

/* Board */
@media (max-width: 1096px) {
    #board-section {
        padding: 8.9rem 2.3vw 0 180px;
    }
    #board-content {
        width: calc(100vw - 18rem);
    }
}

/* Board-End*/