/*Media queries for board*/

@media(max-width: 900px){

    #board-section {
        padding: 0 16px;
        overflow-y: scroll;
    }

    #board-content {
        width: auto;
        height: calc(100vh - 159px);
        padding: 0;
        margin-top: 100px;
    }

    #board-header {
        flex-direction: column !important;
        align-items: flex-start;
    }

    #board-header input {
        width: 250px;
        height: 40px;
    }

    #tasks-container {
        flex-direction: column !important;
    }

    .task-status-container {
        width: 100%;
    }

    .task-container{
        flex-direction: row !important;
        margin-bottom: 8px;
        padding: 0;
        overflow-x: scroll;
    }

    .task-column-header {
        position: static;
    }

    .board-task-box {
        margin-top: 0;
        margin-right: 8px;
    }
}
