<div class="add-task-container">
    <div class="left-fill-out-form">
        <div>
            <div class="form-div">
                <span>Title</span>
                <input required id="title" class="title-input" type="text" placeholder="Enter a title">
                <div id="titleValidationText" class="d-none validation-text">Bitte füllen sie das Textfeld aus</div>
            </div>
            <div class="form-div">
                <span>Description</span>
                <textarea required id="description" class="desc-input" type="text"
                placeholder="Enter a Description"></textarea>
                <div id="descValidationText"  class="d-none validation-text">Bitte füllen sie das Textfeld aus</div>
            </div>
            
            <div class="form-div">
                <span>Category</span>
                <div id="category" class="category-dropdown-div">
                    <div id="selectedCategory">Select a Category</div>
                    <img onclick="openCategories(),displayCategories()" class="cursor" src="src/img/dropdown-arrow.svg">
                </div>
                <div id="catValidationText"  class="d-none validation-text">Bitte wählen sie eine Kategorie aus</div>
                <div class="d-none" id="showCat">
                    <div class="cat">New Category</div>
                </div>
            </div>
            <div class="form-div">
                <span>Assigned to</span>
                <div id="assigned" class="assigned-dropdown-div">
                    <div id="assignedPeople">Assigned to</div>
                    <img onclick="openAssignedTo(), renderContacts()" class="cursor" src="src/img/dropdown-arrow.svg">
                </div>
                <div id="assignedValidationText"  class="d-none validation-text">Bitte fügen sie den Task jemandem zu</div>
                <div class="d-none" id="showAssigned">
                    
                </div>
                <div id="renderContactBubbles">
                    
                </div>
            </div>

        </div>
        <div>
            
        </div>
        <div>
            
        </div>
    </div>
    <div class="line"></div>
    
    <div class="right-fill-out-form">
        <div class="form-div">
            <span>Due Date</span>
            <input id="dueDate" class="title-input" type="date" required min="">
            <div id="dateValidationText"  class="d-none validation-text">Bitte ein Datum angeben</div>
        </div>
        <div class="form-div">
            <span>Prio</span>
            <div class="prio-container">
                <button onclick="selectedPrio(0)" class="prio-input" id="urgent">Urgent
                    <img id="img-urgent" src="src/img/urgent.svg" alt="">
                </button>
                <button onclick="selectedPrio(1)" class="prio-input" id="medium">Medium
                    <img id="img-medium" src="src/img/medium.svg" alt="">
                </button>
                <button onclick="selectedPrio(2)" class="prio-input" id="low">Low
                    <img id="img-low" src="src/img/low.svg" alt="">
                </button>
                
            </div>
            <div id="prioValidationText"  class="d-none validation-text">Bitte wählen sie eine Priorität aus</div>
        </div>
        <div class="form-div">
            <span>Subtasks</span>
            <input id="subtask-content" class="title-input" type="text" placeholder="Add new subtask">
            <img onclick="displaySubTask()" class="plus-icon cursor" src="src/img/plus.svg" alt="">
        </div>
        <div class="subtask-display-content" id="displaySub">

        </div>
        <div class="submit-btn-container">
            <button onclick="closeAddTask()" class="cancel-btn">Cancel</button>
            <button onclick="createTask()" class="create-btn">Create Task</button>
        </div>
    </div>
</div>