<div id="mobileHeader" class="header flex-row box-shadow">
    <img id="mobileHeaderLogo" src="src/img/capa2.svg" alt="">
    <img class="profilPicture curser" src="src/img/profile-picture.svg" alt=""
        onclick="stopPropagation(event); openHeaderMenu()">
    <div id="mobileHeaderMenu" class="flex-column d-none" onclick="stopPropagation(event)">
        <a href="help.html" id="mobileHelpLink">Help</a>
        <a href="legal-notice.html" id="mobileLegalNoticeLink">Legal notice</a>
        <a href="login.html" id="mobileLogoutLink">Log out</a>
    </div>
</div>