<div class="leg_notice_container impressum">
    <h1>Impressum</h1>

    <h2>Information according to § 5 TMG</h2>
    <div class="contact_row flex-wrap">
        <div class="contact flex-column">
            <div>Kilian Georgiew<br />Straße<br />PLZ Ort</div>
            <div class="info">
                <div class="info_row flex-row">
                    <i class='bx bx-phone'></i>
                    <span></span>
                </div>
                <div class="info_row flex-row">
                    <i class='bx bx-envelope'></i>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="contact flex-column">
            <div>Leonhard Albert<br />Heimstraße 9<br />85456 Wartenberg</div>
            <div class="info">
                <div class="info_row flex-row">
                    <i class='bx bx-phone'></i>
                    <span>0174 1921924</span>
                </div>
                <div class="info_row flex-row">
                    <i class='bx bx-envelope'></i>
                    <span>leo.albert.96@web.de</span>
                </div>
            </div>
        </div>
        <div class="contact flex-column">
            <div>Philipp Grabowski<br />Flo&szlig;platz 34<br />04107 Leipzig</div>
            <div class="info">
                <div class="info_row">
                    <div class="info_row flex-row">
                        <i class='bx bx-phone'></i>
                        <span>015221899075</span>
                    </div>
                    <div class="info_row flex-row">
                        <i class='bx bx-envelope'></i>
                        <span>swmmcboss90@web.de</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="source">Source: <a href="https://www.e-recht24.de">eRecht24</a></p>
    <button class="buttonOption2 curser" onclick="togglePrivacyPolicy()">Privacy policy</button>
</div>