<div id="mobileSidebar" class="sidebar flex-row">
    <a id="summaryLink2" href="summary.html">
        <div class="sidebar-link flex-column">
            <img class="link-img" src="src/img/summary-icon.svg" alt="">
            <span>Summary</span>
        </div>
    </a>
    <a id="boardLink2" href="board.html">
        <div class="sidebar-link flex-column">
            <img class="link-img" src="src/img/board-icon.svg" alt="">
            <span>Board</span>
        </div>
    </a>
    <a id="addTaskLin2" href="add-task.html">
        <div class="sidebar-link flex-column">
            <img class="link-img" src="src/img/add-task-icon.svg" alt="">
            <span>Add Task</span>
        </div>
    </a>
    <a id="contactsLink2" href="contacts.html">
        <div class="sidebar-link flex-column">
            <img class="link-img" src="src/img/contacts-icon.svg" alt="">
            <span>Contacts</span>
        </div>
    </a>
</div>